<br>
<h2>Bienvenido {{persona}} </h2>
<br>
<h3 type="button" class="btn btn-outline-success">+ Agregar</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Titulo</td>
            <td class="text-end">
                <a href="" type="button" class="btn btn-success">Modificar</a>
                <a href="" type="button" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>