<div class="holder contacto">
    <div>
        <h2>Contacto Llapido</h2>
        <form id="form" class="topBefore">

            <input id="name" type="text" placeholder="NAME">
            <input id="email" type="text" placeholder="E-MAIL">
            <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
            <input id="submit" type="submit" value="GO!">

        </form>
    </div>
    <div class="datos">
        <h2>Otras cosas para hablar</h2>
        <p>También puede contactarse con nosotros usando los siguientes medios</p>
        <ul>
            <li>Telefono: 11-3748-5848</li>
            <li>Mail: gordo@gmail.com</li>
            <li>instagram: Gordo</li>
            <li>Bueno basta amigo</li>
        </ul>
    </div>
</div>