<div class="holder contacto">
    <div>
        <h2>Contacto Llapido</h2>
        <form action="" method="">
            <p>
                <label for="nom">Nombre</label>
                <input type="text">
            </p>
            <p>
                <label for="mail">Email</label>
                <input type="email">
            </p>
            <p>
                <label for="tel">Telefono</label>
                <input type="text">
            </p>
            <p>
                <label for="msj">Mensaje</label>
                <textarea name="" id=""></textarea>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    </div>
    <div class="datos">
        <h2>Otras cosas para hablar</h2>
        <p>También puede contactarse con nosotros usando los siguientes medios</p>
        <ul>
            <li>Telefono: 11-3748-5848</li>
            <li>Mail: gordo@gmail.com</li>
            <li>instagram: Gordo</li>
            <li>Bueno basta amigo</li>
        </ul>
    </div>
</div>