<div>
    <img src="images/home/img01.jpg" alt="Avion">
</div>
<div class="columnas">
    <section class="bienvenidos">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quos odit quibusdam officia, maiores
            vero nam voluptatum cumque, aliquam recusandae fuga excepturi. Soluta iusto quasi officiis
            perferendis harum assumenda repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Soluta amet quae voluptatem pariatur aperiam vel? Vel, suscipit. Alias ut unde recusandae autem
            itaque dolores, veniam aut, reprehenderit sunt, temporibus labore.
            Aperiam ipsa quae ad fugit voluptatibus repellendus non deleniti, dolorum molestias? Tempore vitae
            impedit dolor numquam beatae. Molestias architecto, sapiente tenetur, quod ad quo possimus magni rem
            nobis cupiditate assumenda?</p>
    </section>
    <section class="testimonios">
        <h2>Testimonios</h2>
        <div class="testimonio">
            <span class="cita">"Es GOD"</span>
            <span class="autor">Hernesto - gebio</span>
        </div>
    </section>
</div>