<section class="historia">
    <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis asperiores consectetur vero placeat
        earum autem ipsa error repellat non! Soluta assumenda itaque facere commodi delectus, ab voluptas
        officiis unde nulla!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id saepe doloremque corrupti iure harum, quos
        sunt accusantium aut deleniti quasi inventore vero at laudantium placeat vitae voluptates et fuga
        tenetur.</p>
</section>
<section class="staff">
    <h2>Staff</h2>
    <div class="personas">
        <div class="persona">
            <img src="images/nosotros/nosotros1.jpg" alt="Claudio">
            <h5>Claudio</h5>
            <h6>Barrendero</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur veniam architecto
                excepturi natus, consectetur ipsam assumenda placeat explicabo soluta corporis molestiae totam
                quam adipisci exercitationem et iste omnis quae.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros2.jpg" alt="Claudio">
            <h5>Flavia</h5>
            <h6>Barrendero</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur veniam architecto
                excepturi natus, consectetur ipsam assumenda placeat explicabo soluta corporis molestiae totam
                quam adipisci exercitationem et iste omnis quae.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros3.jpg" alt="Claudio">
            <h5>Lucas</h5>
            <h6>Barrendero</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur veniam architecto
                excepturi natus, consectetur ipsam assumenda placeat explicabo soluta corporis molestiae totam
                quam adipisci exercitationem et iste omnis quae.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros4.jpg" alt="Claudio">
            <h5>Estefania</h5>
            <h6>Barrendero</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur veniam architecto
                excepturi natus, consectetur ipsam assumenda placeat explicabo soluta corporis molestiae totam
                quam adipisci exercitationem et iste omnis quae.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros5.jpg" alt="Claudio">
            <h5>Juan</h5>
            <h6>Barrendero</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur veniam architecto
                excepturi natus, consectetur ipsam assumenda placeat explicabo soluta corporis molestiae totam
                quam adipisci exercitationem et iste omnis quae.</p>

        </div>
    </div>
</section>